.content {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.change-button {
  width: 20%;
  padding: 20px;
  font-size: 1.2rem;
}

.change-button:hover {
  cursor: pointer;
}

a {
  font-size: 1.2rem;
  margin-top: 20px;
  color: tomato;
}
